<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en" th:fragment="head">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<link href="assets/css/bootstrap-responsive.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
			integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
			crossorigin="anonymous" />
          	
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
    		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
    		crossorigin="anonymous"></script>
    		
    	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
  		<script type="text/javascript" src="./js/visualization-chart-script.js"></script>
  		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  		
    		
		<link href="../static/css/index.css"
          th:href="@{css/index.css}" rel="stylesheet" media="screen" />
         <script type="text/javascript" th:src="@{/js/index.js}" />
	</head>
	<body>
	</body>
</html>