<!DOCTYPE html>
<html>
<head lang="en">

<title>Home</title>

<!--/*/ <th:block th:include="headers :: head"></th:block> /*/-->
	<!-- <script>
		$(document).ready(function (){
			url='http://localhost:8080/rest/sales-by-price'; // API URL
			alert("Getting ready");
			ajax_data('GET',url, function(data)
			{
				charts(data,"ColumnChart"); // Column Charts
				charts(data,"PieChart"); // Pie Charts
				charts(data,"BarChart"); // Bar Charts
				charts(data,"GeoChart"); // Geo Charts
			});
		});
	</script> -->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="menus :: menu-manager"></th:block> /*/-->
		<div class="row">
			<div class="col-md-3 side-div">
				<div class="panel panel-info panel-ava">
					<div class="panel-heading">Profile</div>
					<div class="panel-body panel-3">
						<div class="avatar" th:switch="${emp.gender}">
							<div th:case="'MALE'">
								<img th:src="@{images/avatars/male.png}" alt="avatar image" />
							</div>
							<div th:case="'FEMALE'">
								<img th:src="@{images/avatars/female.png}" alt="avatar image" />
							</div>
						</div>
						<table class="table profileT">
							<tbody>
								<tr>
									<th class="ava-t">Name:</th>
									<td th:text="${#strings.abbreviate(emp.name, 18)}">Name</td>
								</tr>
								<tr>
									<th class="ava-t">Department:</th>
									<td th:text="${emp.dept.name}">Department</td>
								</tr>
								<tr>
									<th class="ava-t">Email:</th>
									<td th:text="${#strings.abbreviate(emp.email, 18)}">Email</td>
								</tr>
								<tr>
									<th class="ava-t">Phone:</th>
									<td th:text="${emp.phone}">Phone</td>
								</tr>
								<tr>
									<th class="ava-t">Password: </th>
									<td><a th:href="@{/change-pass}" class="btn btn-default">Change</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-9 main-div">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-info">
							<div class="panel-heading">Quote of The day</div>
							<div class="panel-body panel-12-emp">
								<div class="qPanel">
									<div class="row">
										<p th:inline="text" id="quote-quote">
											"[[${qotd.dayQuote}]]"</p>
										<p th:text="${qotd.dayQuoter}" id="quote-quoter">quoter</p>
									</div>
									<div class="row">
										<div class="col-md-12">
											<a href="#" th:href="@{/quote}"
												class="btn btn-info panelNewBtnR">Add New Quote</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-info">
							<div class="panel-heading">Orders</div>
							<div class="panel-body panel-6">
								<table class="table table-hover table-bordered tb-md">
									<tr>
										<th>ID</th>
										<th>TOTAL (&euro;)</th>
										<th>EMPLOYEE</th>
									</tr>
									<tr th:each="o : ${orders}">
										<td><a th:href="${'/order/' + o.id}"><span
												th:text="${o.id}">Id</span></a></td>
										<td
											th:text="${#numbers.formatDecimal(o.orderTotal, 0, 'DEFAULT', 2, 'DEFAULT')}">Total</td>
										<td th:text="${o.emp.name}">Employee</td>
									</tr>
								</table>
								<div class="row">
									<div class="col-md-6">
										<a href="#" th:href="@{/orders}"
											class="btn btn-info panelNewBtn">View All</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-info">
							<div class="panel-heading">Items</div>
							<div class="panel-body panel-6">
								<div class="row">
									<table class="table table-hover table-bordered tb-md">
										<tr>
											<th>ID</th>
											<th>NAME</th>
											<th>PRICE</th>
										</tr>
										<tr th:each="item : ${items}">
											<td><a th:href="${'/item/' + item.id}"><span
													th:text="${item.id}">Id</span></a></td>
											<td th:text="${item.name}">Name</td>
											<td
												th:text="${#numbers.formatDecimal(item.price, 0, 'DEFAULT', 2, 'DEFAULT')}">Price</td>
										</tr>
									</table>
								</div>
								<div class="row">
									<div class="col-md-6">
										<a href="#" th:href="@{/items}"
											class="btn btn-info panelNewBtn">View All</a>
									</div>
									<div class="col-md-6">
										<a href="#" th:href="@{/item}"
											class="btn btn-info panelNewBtnR">Add New</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-info">
							<div class="panel-heading">Time-Off Requests</div>
							<div class="panel-body panel-6">
								<div class="row">
									<table class="table table-hover table-bordered tb-md">
										<tr>
											<th>DATE</th>
											<th>REASON</th>
											<th>EMPLOYEE</th>
										</tr>
										<tr th:each="re : ${reqs}">
											<td><a th:href="${'/req/' + re.id}"><span
													th:text="${re.fromDate}">Date</span></a></td>
											<td th:text="${re.reason}">Reason</td>
											<td th:text="${re.employee.name}">Employee</td>
										</tr>
									</table>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="col-md-6">
											<a href="#" th:href="@{/reqs}"
												class="btn btn-info panelNewBtn">View All</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-info">
							<div class="panel-heading">Enotes</div>
							<div class="panel-body panel-6">
								<div class="row">
									<table class="table table-hover table-bordered tb-md">
										<tr>
											<th>DATE</th>
											<th>SUBJECT</th>
											<th>FROM</th>
										</tr>
										<tr th:each="n : ${enotes}">
											<td><a th:href="${'/enote/' + n.id}"><span
													th:text="${#dates.format(n.dateSent, 'yyyyMMdd HH:mm:ss')}">Date</span></a></td>
											<td th:text="${n.subject}">Subject</td>
											<td th:text="${n.noteFrom.name}">From</td>
										</tr>
									</table>
								</div>
								<div class="row">
									<div class="col-md-6">
										<a href="#" th:href="@{/enotes}"
											class="btn btn-info panelNewBtn">View All</a>
									</div>
									<div class="col-md-6">
										<a href="#" th:href="@{/enote}"
											class="btn btn-info panelNewBtnR">Compose New</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-info">
							<div class="panel-heading">Rosters</div>
							<div class="panel-body panel-6">
								<div class="row">
									<table class="table table-hover table-bordered tb-md">
										<tr>
											<th>DATE</th>
											<th>DEPARTMENT</th>
											<th>ACTION</th>
										</tr>
										<tr th:each="r : ${rosters}">
											<td th:text="${r.rosterDate}">Name</td>
											<td th:text="${r.dept.name}">Department</td>
											<td><a th:href="@{'rosters/' + ${r.fileName}}"
												class="btn btn-sm btn-default">Download<span
													class="glyphicon glyphicon-download-alt"></span></a></td>
										</tr>
									</table>
								</div>
								<div class="row">
									<div class="col-md-6">
										<a href="#" th:href="@{/rosters}"
											class="btn btn-info panelNewBtn">View All</a>
									</div>
									<div class="col-md-6">
										<a href="#" th:href="@{/roster}"
											class="btn btn-info panelNewBtnR">Add New</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-info">
							<div class="panel-heading">Employees</div>
							<div class="panel-body panel-6">
								<div class="row">
									<table class="table table-hover table-bordered tb-md">
										<tr>
											<th>NAME</th>
											<th>DEPARTMENT</th>
										</tr>
										<tr th:each="emp : ${emps}">
											<td th:text="${emp.name}">Name</td>
											<td th:text="${emp.dept.name}">Department</td>
										</tr>
									</table>
								</div>
								<div class="row">
									<div class="col-md-6">
										<a href="#" th:href="@{/employees}"
											class="btn btn-info panelNewBtn">View All</a>
									</div>
									<div class="col-md-6">
										<a href="#" th:href="@{/employee}"
											class="btn btn-info panelNewBtnR">Add New</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-info">
							<div class="panel-heading">Report - This Months Top Selling
								Items</div>
							<div class="panel-body panel-12">
								<div>
									<div id="chart_div"></div>
									<div id="regions_div" ></div>
									<div id="piechart_div" ></div>
									<div id="bar_div" ></div>
									<div class="row">
										<table class="table table-hover table-bordered tb-md">
											<tr>
												<th>ID</th>
												<th>ITEM</th>
												<th>REVENUE</th>
											</tr>
											<tr th:each="s : ${psales}">
												<td th:text="${s.id}">Id</td>
												<td th:text="${s.name}">Name</td>
												<td
													th:text="${'&euro; ' + #numbers.formatDecimal(s.salesInPrice, 0, 'DEFAULT', 2, 'DEFAULT')}">Price</td>
											</tr>
										</table>
									</div>
									<div class="row">
										<div class="col-md-6">
											<a href="#" th:href="@{/sales}"
												class="btn btn-info panelNewBtn">View All</a>
										</div>
									</div>
								</div>
								<!-- <div onclick="hide(this)" class="alert alert-info">
									<h5> Click To Test GET Request</h5>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>