<!DOCTYPE html>
<html>
<head lang="en">
 
    <title>Home</title>
 
    <!--/*/ <th:block th:include="headers :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
    <!--/*/ <th:block th:include="menus :: menu-employee"></th:block> /*/-->
    	<div class="row content">
    		<div class="col-md-3 side-div">
    			<div class="panel panel-info panel-ava">
    				<div class="panel-heading">Profile</div>
    				<div class="panel-body">
    					<div class="avatar" th:switch="${emp.gender}">
  							<div th:case="'MALE'">
  								<img th:src="@{images/avatars/male.png}" alt="avatar image" />
  							</div>
  							<div th:case="'FEMALE'">
  								<img th:src="@{images/avatars/female.png}" alt="avatar image" />
  							</div>
						</div>
    					<table class="table profileT">
    						<tbody>
    							<tr>
    								<th class="ava-t">Name: </th>
    								<td th:text="${emp.name}">Name</td>
    							</tr>
    							<tr>
    								<th class="ava-t">Department: </th>
    								<td th:text="${#strings.abbreviate(emp.dept.name, 18)}">Department</td>
    							</tr>
    							<tr>
    								<th class="ava-t">Email: </th>
    								<td th:text="${#strings.abbreviate(emp.email, 18)}">Email</td>
    							</tr>
    							<tr>
    								<th class="ava-t">Phone: </th>
    								<td th:text="${emp.phone}">Phone</td>
    							</tr>
    							<tr>
									<th class="ava-t">Password: </th>
									<td><a th:href="@{/change-pass}" class="btn btn-default">Change</a></td>
								</tr>
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-9 main-div">
    			<div class="row">
    				<div class="col-md-12">
    					<div class="panel panel-info">
    						<div class="panel-heading">Quote of The day</div>
    						<div class="panel-body panel-12-emp">
    							<div class="qPanel">
    								<p th:inline="text" id="quote-quote">
										"[[${qotd.dayQuote}]]"
									</p>
    								<p th:text="${qotd.dayQuoter}" id="quote-quoter">quoter</p>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-12">
    					<div class="panel panel-info">
    						<div class="panel-heading">Rosters</div>
    						<div class="panel-body panel-12-emp">
    							<div class="row">
									<table class="table table-hover table-bordered tb-md">
											<tr>
												<th>DATE</th>
												<th>DEPARTMENT</th>
												<th>ACTION</th>
											</tr>
											<tr th:each="r : ${rosters}">
												<td th:text="${r.rosterDate}">Name</td>
												<td th:text="${r.dept.name}">Department</td>
												<td><a th:href="@{'rosters/' + ${r.fileName}}"
													class="btn btn-sm btn-default">Download<span
														class="glyphicon glyphicon-download-alt"></span></a></td>
											</tr>
									</table>
								</div>
								<div class="row">
									<div class="col-md-6">
										<a href="#" th:href="@{/rosters}" class="btn btn-info panelNewBtn" >View All</a>
									</div>
								</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-12">
    					<div class="panel panel-info">
    						<div class="panel-heading">Enotes</div>
    						<div class="panel-body panel-12-emp">
    							<div class="row">
									<table class="table table-hover table-bordered tb-md">
										<tr>
											<th>DATE</th>
											<th>SUBJECT</th>
											<th>FROM</th>
											<th>ACTION</th>
										</tr>
										<tr th:each="n : ${enotes}">
											<td><a th:href="${'/enote/' + n.id}"><span
													th:text="${#dates.format(n.dateSent, 'yyyyMMdd HH:mm:ss')}">Date</span></a></td>
											<td th:text="${n.subject}">Subject</td>
											<td th:text="${n.noteFrom.name}">From</td>
											<td><a th:href="${'/enote/reply/' + n.id}" class="btn btn-sm btn-default">Reply</a></td>
										</tr>
									</table>
								</div>
								<div class="row">
									<div class="col-md-6">
										<a href="#" th:href="@{/enotes}" class="btn btn-info panelNewBtn" >View All</a>
									</div>
									<div class="col-md-6">
										<a href="#" th:href="@{/enote}" class="btn btn-info panelNewBtnR" >Compose New</a>
									</div>
								</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-12">
    					<div class="panel panel-info">
    						<div class="panel-heading">Time-Off</div>
    						<div class="panel-body panel-12-emp">
    							<div class="row">
									<table class="table table-hover table-bordered tb-md">
										<tr>
											<th>DATE</th>
											<th>REASON</th>
											<th>STATUS</th>
										</tr>
										<tr th:each="re : ${reqs}">
											<td><a th:href="${'/req/' + re.id}"><span
													th:text="${re.fromDate}">Date</span></a></td>
											<td th:text="${re.reason}">Reason</td>
											<td th:text="${re.status}">Status</td>
										</tr>
									</table>
								</div>
								<div class="row">
									<div class="col-md-6">
										<a href="#" th:href="@{/reqs}" class="btn btn-info panelNewBtn" >View All</a>
									</div>
									<div class="col-md-6">
										<a href="#" th:href="@{/req}" class="btn btn-info panelNewBtnR" >Apply</a>
									</div>
								</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
	</div>
</body>
</html>