#welcome-title {
	color: green;
}

.index-p {
	display: block;
	width: 70%;
	margin: auto;
}

.login-form {
	display: block;
	padding-top: 40px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

/* Panels Styling *************************/

.control-label {
	font-size: 1.4em;
}

.panel-12 {
	height: 400px;
}

.panel-6 {
	height: 300px;
}

.panel-12-emp {
	height: auto;
}

/* Table styling ***************************/

td {
	height: 50px;
	vertical-align: middle;
	display: table-cell;
}

.tb-md {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.bigcell {
	height: 100px;
}

.smallcell {
	height: 50px;
}

/*Images Styling ***************************/

img {
	display: block;
	width: 80%;
	height: auto;
	margin: auto;
}

.navbar {
	padding-left: 10%;
	padding-right: 5%;
}

.container {
	margin-top: 80px;
}

#quote-quote {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

#quote-quoter {
	font-size: 1.7em;
	font-style: italic;
	text-align: right;
	padding-right: 40px;
}

/* Buttons Styling ***********************/

.button-new {
	display: block;
	margin-right: 80px;
	float: right;
}

.panelNewBtn {
	margin-left: 16px;
	float: left;
}